@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
.el-form .form-horizontal {
  margin-top: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.el-form .form-horizontal .h4 {
  color: #999999;
}
.el-form .form-horizontal .form-group .form-control {
  width: 220px;
  display: inline;
}
